* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: dimgray;
}

/* header and nav */
header {
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color:dimgray;
}

header h1 {
    border-radius: 0 10px 10px 0;
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    color: dimgray;
    background-color: #89cff0;
    padding-left: 30px;
    padding-right: 10px;
    position:relative;
    right: 50px;
}

header nav {
    margin: 10px;
    color: #89cff0;
  }

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  header nav ul li a {
    padding: 30px 30px;
    color: #89cff0;
    font-size: 20px;
  }

  /* hero */

  .hero-img {
    max-width: 100%;
    height: auto;
  }

  h3 {
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: 20px;
    bottom: 60px;
    color: white;
    z-index: 100;
  }

  /* about me section */

  #about-me {
      display: flex;
      flex-direction: row;
  }

  .about-me-h {
      padding: 10px;
      text-align: center;
  }

  .about-me-p {
    padding: 0 10px;
  }

  .selfie {
      float: left;
      height: 100px;
      width: auto;
  }

  /* works */

  .run-buddy-img {
      max-width: 95%;
      margin: 30px;
      border-radius: 50px;
  }

  .run-buddy p {
      position: relative;
      bottom: 50px;
      color: #89cff0;

      
  }

  .small-img {
    display: flex;
    justify-content: space-evenly;
    margin: 30px;
  }

  .code-refactor-img {
      float: left;
      width: 900px;
      height: 700px;
      background-size: cover;
      border-radius: 15px;
  }

  .code-refactor p {
    position: relative;
    bottom: 25px;
    color: #89cff0;
  }

  .sparks-fanpage-img {
    float: right;
    width: 900px;
    height: 700px;
    background-size: cover;
    border-radius: 15px;
}

    .sparks-fanpage p {
    position: relative;
    bottom: 25px;
    color: #89cff0
    }

  /* footer */
 #contact-me {
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     justify-content: space-between;
     color: #89cff0;
 }


 footer ul {
    display: flex;
    flex-direction: row;
    ;
}

 footer ul li {
     list-style: none;
 }

 footer ul li a {
     padding: 10px;
 }
 