/* universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* header and nav */
header {
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color:dimgray;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    color: dimgray;
    background-color: #89cff0;
    padding-left: 30px;
    position:relative;
    right: 50px;
}

header nav {
    margin: 10px;
  }

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  header nav ul li a {
    padding: 30px 15px;
  }

  /* hero */

  img {
    max-width: 100%;
    height: auto;
  }
  h3 {
    position: relative;
    right: ;
  }
  