* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header and nav */
header {
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color:dimgray;
}

header h1 {
    border-radius: 0 10px 10px 0;
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    color: dimgray;
    background-color: #89cff0;
    padding-left: 30px;
    padding-right: 10px;
    position:relative;
    right: 50px;
}

header nav {
    margin: 10px;
    color: #89cff0;
  }

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  header nav ul li a {
    padding: 30px 15px;
    color: #89cff0;
  }

  /* hero */

  .hero-img {
    max-width: 100%;
    height: auto;
  }

  h3 {
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: 20px;
    bottom: 60px;
    color: white;
    z-index: 100;
  }


  /* works */

  .run-buddy-img {
      max-width: 100%;
  }

  /* footer */
  footer {
    background-color: dimgray;
    color: #89cff0;
  }

  footer h2 {
      color: dimgray;
      background-color: #89cff0;

  }

  footer div ul {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      list-style: none;
  }
